#wrapper {
    margin-top: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#txtWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vw;
    margin-bottom: 6vw;
    text-align: center;
}

#txtEmoji{
    font-size: calc(1.5rem + 3vw);
}

#txtTitle{
    font-size: calc(1.4rem + 2vw);
    color: #264770;
    font-weight: 500;
}

#diaryForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 80vw;
    border: #F0F2F6 0.8vw solid;
    height: 100%;
    gap: 3vh;
    padding: 6vw;
    border-radius: 3.5vw;
}

#diaryInput{
    width: 100%;
    height: 20vh;
    padding: 3vw;
    border-radius: 3vw;
    resize: none;
}

#diaryButtons{
    width: 100%;
    display: flex;
    gap: 3vw;
}

.diaryButton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 2vw 0;
    border-radius: 4vw;
}

.diaryButton p, .diaryButton span{
    color: black;
}

#recordDiary{
    border: 1px #8bb5db solid;
    background-color: #a3cef1;
}

#saveDiary{
    border: none;
    background-color: #a7dca5;
}