main{
    margin-bottom: 14vh;
}

#mostFrequentMood {
    height: fit-content;
    width: 80vw;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6vw 0 6vw;
    background-color: #d1cb966b;
    border: 3px #CAD1BE solid;
    border-radius: 3vw;
    padding: 5vw;
    gap: 3vw;
}

#mostFrequentMood p{
    font-weight: bold;
}

#mostFrequentMood span{
    text-transform: capitalize;
    font-size: calc(0.8rem + 1.2vw);
}

canvas {
    background: white;
    border: #F0F2F6 0.8vw solid;
    border-radius: 2vw;
    margin-bottom: 4vw;
    width: 80vw;
    max-width: 90vw;
    padding: 2vw;
}
