#wrapper {
    margin-top: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#txtWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vw;
    margin-bottom: 6vw;
    text-align: center;
}

#txtEmoji{
    font-size: calc(1.5rem + 3vw);
}

#txtTitle{
    font-size: calc(1.4rem + 2vw);
    color: #264770;
    font-weight: 500;
}

#emotionsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 80vw;
    border: #F0F2F6 0.8vw solid;
    height: 100%;
    gap: 3vh;
    padding: 6vw;
    border-radius: 3.5vw;
}

#emotionsDiv a{
    color: black;
    text-decoration: none;
}

.emotion{
    width: 100%;
    padding: 3vw 4vw;
    border-radius: 2.5vw;
    border: #D8E0E8 1px solid;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    transition: 300ms;
}

.emotionEmoji{
    font-size: calc(1rem + 5vw);
}

.emotionText{
    font-size: calc(1rem + 1vw);
}

.sadSelected{
    background-color: #DBEAFE;
    border-color: #95ADCC;
}

.neutralSelected{
    background-color: #F3F4F6;
    border-color: #A4B3C7;
}

.happySelected{
    background-color: #FEF9C2;
    border-color: #AAB6A8;
}

.inLoveSelected{
    background-color: #FCE7F3;
    border-color: #A9ABC6;
}

.tiredSelected{
    background-color: #F3E8FF;
    border-color: #A4ACCD;
}

#selectedEmotion{
    height: fit-content;
    width: 80vw;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6vw 0 14vh;
    background-color: #d1cb966b;
    border: 3px #CAD1BE solid;
    border-radius: 3vw;
    padding: 5vw;
    gap: 3vw;
}

#selectedEmoji{
    font-size: calc(1rem + 2vw);
}

#selectedText{
    font-size: calc(0.8rem + 0.8vw);
    text-align: center;
}

#selectedButton{
    width: 100%;
    background-color: #F8D987;
    border: none;
    padding: 3vw;
    border-radius: 3vw;
    text-align: center;
    text-decoration: none;
    color: black;
}