#wrapper {
    margin-top: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#txtWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vw;
    margin-bottom: 6vw;
    text-align: center;
}

#txtEmoji{
    font-size: calc(1.5rem + 3vw);
}

#txtTitle{
    font-size: calc(1.4rem + 2vw);
    color: #264770;
    font-weight: 500;
}

#remindersWrapper{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100%;
    gap: 3vh;
    border-radius: 3.5vw;
    margin-bottom: 28vw;
}

#reminders{
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.reminder{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    align-items: center;
    background-color: #d1cb963a;
    padding: 4vw;
    border: #ded5a7 0.3vw solid;
    border-radius: 3.5vw;
    flex-direction: column;
    transition: 300ms;
}

.reminderDesc{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1vw;
    justify-content: space-between;
}

.reminderDesc span{
    color: #ded5a7;
    font-size: calc(0.6rem + 0.7vw);
}

.reminderDesc p{
    width: fit-content;
    font-size: calc(0.6rem + 0.7vw);
}

.reminderDescDiv{
    display: flex;
    flex-direction: row;
}

.activityDuration{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 1vw;
}

.activityDuration span{
    color: black;
}

.reminderButtons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}

.markAsRead{
    background-color: #a7dca5;
    border: none;
    border-radius: 4vw;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3vw 0;
    justify-content: center;
    gap: 2vw;
}

.markAsRead p, .markAsRead span{
    font-size: calc(0.6rem + 0.7vw);
}

.delete{
    background-color: #d5183f;
    padding: 3vw;
    border-radius: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.delete span{
    color: white;
    font-size: calc(0.6rem + 0.7vw);
}

#remindersCount{
    display: flex;
    align-items: center;
    background: white;
    width: 80vw;
    border: #F0F2F6 0.8vw solid;
    height: 100%;
    gap: 3vh;
    padding: 6vw;
    border-radius: 3.5vw;
    justify-content: space-around;
}

#remindersDone, #remindersActive{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.remindersNum{
    font-size: calc(0.8rem + 1vw);
}

.remindersTxt{
    font-size: calc(0.6rem + 0.7vw);
}

#remindersActive .remindersNum{
    color: #2c5291;
}

#remindersDone .remindersNum{
    color: #a7dcbb;
}

.reminderRead{
    background-color: #d0e7f8;
}

.reminderRead .markAsRead{
    background-color: #a3cef1;
}

.reminderRead .reminderDesc p{
    text-decoration: line-through;
}

.reminderRead .reminderDesc span{
    color: black;
}